<div class="endnote">
    <hr>
    <p>Thanks for reading, I hope you found value. Feel check out some of my other posts if you liked this writeup. Feel free to drop me a comment or connect with me on any of my socials if you have any questions or want to get in touch.</p>
    <div class="buymeacoffee">
        <p>A lot of time and effort goes into making these posts. If you enjoy my content and want to support me, a little coffee goes a long way.</p>
        <a href="https://coff.ee/jenkaj"><img src="/images/buymeacoffee.png" /></a>
    </div>
    {{ partial "socials" }}
</div>
