<div class="endnote">
    <p>Thanks for reading, I hope you found value in this content. Take a look at some of my other posts if you liked it, and check out my socials if you have any feedback or just want to connect.</p>
    <div class="buymeacoffee">
        <p>I put a lot of time and effort into making these posts. If you enjoy this sort of thing and want to support me in future projects, a little coffee goes a long way <i class="fa-solid fa-heart" style="color: red;"></i></p>
        <a href="https://coff.ee/jenkaj"><img src="/images/buymeacoffee.png" /></a>
    </div>
</div>
