<div class="endnote">
    <p>Thanks for reading, I hope you found value in this content. Take a look at some of my other posts if you liked it and check out my socials if you have any feedback, or just want to connect. I put a lot of time and effort into making these posts so if you enjoy this content and want to support me - a little coffee goes a long way <i class="fa-solid fa-heart" style="color: red;"></i></p>
    <div class="clickables">
        {{ partial "socials" }}    
        <a class="buy_me_a_coffee" href="https://coff.ee/jenkaj"><img src="/images/buymeacoffee.png" /></a>
    </div>
</div>
