{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <div class="title"><a href="{{ "/" | relURL }}"><i class="fa-solid fa-flask"></i> {{ site.Title }}</a></div>
    <ul class="links">
      {{ range . }}
        <li><a href="{{ .URL }}">{{ .Name | safeHTML }}</a></li>
      {{ end }}
    </ul>
  </nav>
{{- end }}
